<page-title>Angular Directives Demo</page-title>

<div>
	<tabs style="margin-left: 5px">
		<pane title="Simple Examples">
			<ng-include src="'views/simpleExamples.html'"/>
		</pane>
		<pane title="Form Examples">
			<form name="chForm" novalidate >
				<p>Amount: <input name="checkAmount" smart-float ng-model="user.checkAmount"/>
					<span ng-show="chForm.checkAmount.$error.float" class="ng-error-msg"> {{custom.floatmsg}}</span>
				</p>
				<p>Date:  <input datepicker ng-model="$parent.user.checkDate"/>
				</p>
			</form>
		</pane>
		<pane title="Animations">
			<div ng-init="names=['Igor Minar', 'Brad Green', 'Dave Geddes', 'Naomi Black', 'Greg Weber', 'Dean Sofer', 'Wes Alvaro', 'John Scott', 'Daniel Nadasi'];">
				<div class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
				    <form class="form-search"> 
				        <div class="input-append">
				        	<input type="text" ng-model="search" class="search-query" style="width: 80px">
				          	<button type="submit" class="btn">Search</button>
				        </div>
				        <ul class="nav nav-pills nav-stacked">
				        	<li ng-animate="'animate'" ng-repeat="name in names | filter:search" class="repeat-item">
				            	<a href="#"> {{name}} </a>
				        	</li> 
				    	</ul>
				    </form>
				</div>
			</div>
		</pane>
		<pane title="wizard">
			<div class="container registration-era" ng-controller="RegistrationCtrl">

				<header id="appHeader" class="app-header">
			    	<h1>ERA Enrollment</h1>
			  	</header>

			  	<div id="appBody" ng-include="pageWiz.currentStep.templateUrl" class="app-body registration-era">
			    
			  	</div>

				<footer id="appFooter" class="app-footer">
				    <div class="form-actions clearfix">
				      	<div class="row-fluid">
				        	<div class="span4">
				          		<button ng-click="pageWiz.getPreviousPage()" ng-disabled="!pageWiz.hasPreviousPage()">Back</button>
				        	</div>
				        	<div class="span4">
				          		<a href="#" data-action="cancel" class="btn btn-block btn-large hidden">Cancel</a>
				        	</div>
				        	<div class="span4">
				          		<button ng-click="pageWiz.getNextPage()" ng-disabled="!pageWiz.hasNextPage()">Next</a>
				        	</div>
					    </div>
				    </div>
				</footer>
			</div>
		</pane>
	</tabs>
</div>


