<h2>Page 2{{ticket.type}}</h2>

<div> You selected ticket type: {{ticket.type}}</div>


	<div>
		<div class="row">
			<div class="span6">
		            <div class="control-group">
		              <label class="control-label">Subject:</label>
		              <div class="controls">
		                <input  type="text" ng-model="ticket.subject" ng-required id="id2e" maxlength="255">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Details:</label>
		              <div class="controls">
		                <select ng-model="ticket.details" id="id31" >
						<option value="">Select One</option>
						<option value="0">Enrollment</option>
						<option value="1">Missing ERA</option>
						<option value="2">File Restore</option>
						</select>
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Submission Format:</label>
		              <div class="controls">
		                <select ng-model="ticket.submissionFormat">
			                <option value="">Select One</option>
			                <option value="0">EDI 4010</option>
			                <option value="1">EDI 5010</option>
			            </select>
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Check Number</label>
		              <div class="controls">
		                <input type="text" ng-model="ticket.checkNumber" id="id33" maxlength="30">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Check Date</label>
		              <div class="controls">
		                <input datepicker-popup="MM/dd/yyyy" open="opened" ng-model="ticket.checkDate" id="id33" ng-required="ticket.ticketType == 1" />
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label" for="inputEmail">My Tracking Number:(Optional)</label>
		              <div class="controls">
		                <input type="text" ng-model="ticket.customerReferenceNumber" id="id33" maxlength="32">
		              </div>
		            </div>
		            
			</div>
			
			
			<div class="span6">
					<div class="control-group">
		              <label class="control-label" for="inputEmail">Provider's Tax ID:</label>
		              <div class="controls">
		                <input type="text" ng-model="ticket.taxID"  id="id34" maxlength="9">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Provider's NPI:</label>
		              <div class="controls">
		                <input type="text" ng-model="ticket.npiID" id="id35" maxlength="10">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Payer Name / ID:</label>
		              <div class="controls">
		                <input type="text" ng-model="ticket.ediPayerName" id="id36" maxlength="64">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputEmail">Payer Type:</label>
		              <div class="controls">
		                <select ng-model="ticket.payerType" id="id37" >
						<option value="">Select One</option>
						<option value="0">Commercial Payer</option>
						<option value="1">Government Payer</option>
						</select>
		              </div>
		            </div>
		            
			</div><!-- End Span 6 -->
			
		</div><!-- End Row -->
		
	</div>

